@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------HEADER--------- */

/* BANNER */

.banner {
    width: 100%;
    padding: 9rem 3rem;
    text-align: center;
    background: url("../img/Banner.png");
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.banner h1 {
    color: rgb(114, 101, 101);
    font-family: 'Roboto', sans-serif;
    font-size: 90px;
    animation: titulo 3s 1;
}


/* BUSCADOR */

.boton-lupa {
    color: rgb(243, 160, 174);
}

.boton-lupa:hover {
    background-color: rgb(243, 160, 174);
    color: aliceblue;
}


/* ----- MAIN -----*/

h2 {
    font-family: 'Roboto', sans-serif;
}

.centrar {
    display: flex;
    justify-content: center;

}

.row {
    justify-content: space-around;
}

/* -------FOOTER-------- */

/* Botones */
.color-boton {
    background-color: rgb(243, 160, 174);
    color: white;
}

.color-boton:hover {
    background-color: rgb(114, 101, 101);
    color: white;

}

/* Animacion Banner */

@keyframes titulo {
    0%{
        color: rgb(243, 160, 174);
        
    }
    30%{
        letter-spacing: 25px;
        
    }
    85%{
        letter-spacing: 8px;
    }
    
}

/* Media Queries */

@media (max-width: 580px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}